.trusted-clients {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  &__header {
    font-size: 40px;
    color: $heading-font-color;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

@media (nax-width: 915px) {
  .clients-row {
    flex-direction: column;
  }
}
