.container {
  margin: auto;
  width: 80%;
  height: 100%;
}

.footer {
  margin: 100px 0px;

  &__columns {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__right {
    max-width: 500px;
    &__body {
      margin-top: 30px;
      color: $about-font-body;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  &__social-media {
    display: flex;
  }
  &__left {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    height: 100%;
  }
  &-btn {
    background-color: $btn-contact-border-color;
    color: white;
  }
  &__logo {
    width: 60px;
    margin-right: 10px;
  }
}
.footer__nav--items {
  margin-top: 30px;
}

.footer__nav--item {
  margin-bottom: 30px;

  width: 50px;
}
.footer__nav--menu {
  font-size: 24px;
}

.email {
  color: $btn-contact-border-color;
}

.number {
  font-size: 13px;
}

.footer__right__top {
  display: flex;
  align-items: center;
}

@media (max-width: 824px) {
  .footer__columns {
    flex-direction: column;
    align-items: center;
  }
  .footer__left:nth-child(1) {
    align-items: center;

    margin-bottom: 40px;
  }
  .footer__right{
      justify-content: center;
      align-items: center;
  }
}
