//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"); //Variables
@import "./variables";
//reset
@import "./reset";

@import "../Components/Nav/nav";
@import "../Pages/Home/home";
@import "../Components/Layout/layout";

body {
  overscroll-behavior-y: none;
  background-color: $bg-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
