//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"); //Variables
@import "./variables";
//reset
@import "./reset";

@import "../Components/Nav/nav";
@import "../Pages/Home/home";
@import "../Components/Layout/layout";
@import "../Pages/About/about";
@import "../Pages/Skills/skills";
@import "../Components/SkillTag/skillTag";

@import "../Pages/Clients/clients";
@import "../Pages/Projects/projects";
@import "../Pages/Experience/experience";
@import "../Components/ExperienceCard/experienceCard";
@import "../Sections/TrustedClients/trustedClients";
@import "../Components/TrustedClientCard/trustedClientCard";
@import "../Sections/Footer/footer";
@import "../Components/SocialMedia/socialMedia";
@import "../Components/ContactForm/contactForm";
@import "../Components/Nav/ResponsiveNav/responsiveNav";
@import "../Sections/Project/project";
@import "../Pages/ProjectDetails/projectDetails";
@import "../Pages/Contact/contact";

html {
  min-height: -webkit-fill-available;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  overscroll-behavior-y: none;
  background-color: $bg-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
