.contactform-page {
  width: 600px;
  padding: 60px;
  color: white;
}
.contact-container {
  display: flex;
  justify-content: center;
  background-color:$story-bg-color;
  height: 100vh;
  align-items: center;
}
