.contact-form {
  width: 100%;
  &__input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &-btn {
    margin-top: 20px;
    width: 100%;
  }
}
